 # SPDX-License-Identifier: Apache-2.0
 #
 # The OpenSearch Contributors require contributions made to
 # this file be licensed under the Apache-2.0 license or a
 # compatible open source license.
 #
 # Modifications Copyright OpenSearch Contributors. See
 # GitHub history for details.

 # Copyright 2020 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 #
 # Licensed under the Apache License, Version 2.0 (the "License").
 # You may not use this file except in compliance with the License.
 # A copy of the License is located at
 #
 # http://www.apache.org/licenses/LICENSE-2.0
 #
 # or in the "license" file accompanying this file. This file is distributed
 # on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 # express or implied. See the License for the specific language governing
 # permissions and limitations under the License.
 #
 
name: Test and Build Notifications

on: [push, pull_request]

env:
  OPENSEARCH_VERSION: '1.0'
  COMMON_UTILS_BRANCH: 'notification-dev'
  OPENSEARCH_BRANCH: '1.0'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 1.14
        uses: actions/setup-java@v1
        with:
          java-version: 1.14

       # dependencies: OpenSearch
      - name: Checkout OpenSearch
        uses: actions/checkout@v2
        with:
          repository: 'opensearch-project/OpenSearch'
          path: OpenSearch
          ref: ${{ env.OPENSEARCH_BRANCH }}
      - name: Build OpenSearch
        working-directory: ./OpenSearch
        run: ./gradlew publishToMavenLocal -Dbuild.snapshot=false

      # dependencies: common-utils
      - name: Checkout common-utils
        uses: actions/checkout@v2
        with:
          repository: 'opensearch-project/common-utils'
          ref: ${{ env.COMMON_UTILS_BRANCH }}
          path: common-utils
      - name: Build common-utils
        working-directory: ./common-utils
        run: ./gradlew publishToMavenLocal -Dopensearch.version=${{ env.OPENSEARCH_VERSION }}.0

      # notifications
      - name: Checkout Notifications
        uses: actions/checkout@v2

      # Temporarily exclude tests which causing CI to fail. Tracking in #251
      - name: Build with Gradle
        run: |
          cd notifications
          ./gradlew build -PexcludeTests="**/SesChannelIT*, **/PluginActionTests*" -Dopensearch.version=${{ env.OPENSEARCH_VERSION }}.0

      - name: Upload coverage
        uses: codecov/codecov-action@v1
        with:
          flags: opensearch-notifications
          directory: notifications/
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Create Artifact Path
        run: |
          mkdir -p notifications-build
          cp -r ./notifications/notifications/build/distributions/*.zip notifications-build/

      - name: Upload Artifacts
        uses: actions/upload-artifact@v1
        with:
          name: notifications
          path: notifications-build
