##
 # Copyright OpenSearch Contributors
 # SPDX-License-Identifier: Apache-2.0
##
 
name: Test and Build Notifications

on: [push, pull_request]

env:
  OPENSEARCH_VERSION: '2.0.0-SNAPSHOT'
  OPENSEARCH_BRANCH: 'main'
  COMMON_UTILS_BRANCH: 'main'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 1.14
        uses: actions/setup-java@v1
        with:
          java-version: 1.14

       # dependencies: OpenSearch
      - name: Checkout OpenSearch
        uses: actions/checkout@v2
        with:
          repository: 'opensearch-project/OpenSearch'
          path: OpenSearch
          ref: ${{ env.OPENSEARCH_BRANCH }}
      - name: Build OpenSearch
        working-directory: ./OpenSearch
        run: ./gradlew publishToMavenLocal

      # dependencies: common-utils
      - name: Checkout common-utils
        uses: actions/checkout@v2
        with:
          repository: 'opensearch-project/common-utils'
          ref: ${{ env.COMMON_UTILS_BRANCH }}
          path: common-utils
      - name: Build common-utils
        working-directory: ./common-utils
        run: ./gradlew publishToMavenLocal -Dopensearch.version=${{ env.OPENSEARCH_VERSION }}

      # notifications
      - name: Checkout Notifications
        uses: actions/checkout@v2

      # Temporarily exclude tests which causing CI to fail. Tracking in #251
      - name: Build with Gradle
        run: |
          cd notifications
          ./gradlew build -PexcludeTests="**/SesChannelIT*" -Dopensearch.version=${{ env.OPENSEARCH_VERSION }}

      - name: Upload coverage
        uses: codecov/codecov-action@v1
        with:
          flags: opensearch-notifications
          directory: notifications/
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Create Artifact Path
        run: |
          mkdir -p notifications-build/{notifications,notifications-core}
          cp -r ./notifications/notifications/build/distributions/*.zip notifications-build/notifications/
          cp -r ./notifications/core/build/distributions/*.zip notifications-build/notifications-core/

      - name: Upload Artifacts for notifications plugin
        uses: actions/upload-artifact@v1
        with:
          name: notifications-plugin
          path: notifications-build/notifications

      - name: Upload Artifacts for notifications-core plugin
        uses: actions/upload-artifact@v1
        with:
          name: notifications-core-plugin
          path: notifications-build/notifications-core
